language: php

php:
  - '5.5'
  - '5.6'
  - '7.0'
  - hhvm
  - nightly

install:
  - composer self-update
  - composer global require "fxp/composer-asset-plugin:^1.1"
  - composer install

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - php vendor/phpunit/phpunit/phpunit --coverage-text --coverage-clover=coverage.clover
